<!-- <div class="product product_grid"> -->
  <a ui-sref="productList({ categoryId: $ctrl.product.id })">
    <img class="product__image" ng-src="{{$ctrl.product.images[0]}}">
  </a>
  <div class="product__wrapper product__wrapper_grid">
    <div class="product__left-part">
      <a ui-sref="productList({ categoryId: $ctrl.product.id })">
        <p class="product__name">
          {{$ctrl.product.title}}
        </p>
      </a>
      <p class="product__description product__description_grid">{{$ctrl.product.description}}</p>
    </div>
    <div class="product__right-part">
      <p class="product__price">Price: {{$ctrl.product.price | currency : "$ " : 0}}</p>
      <button data-id="{{$ctrl.product.id}}" class="button button_color add-to-cart">Add to cart</button>
      <!-- <button data-id="{{product.id}}" class="button {{#if this.availability}}button_color add-to-cart">Add to cart{{else}}button_disabled add-to-cart" disabled>Out of stock{{/if}}</button> -->
    </div>
  </div>
<!-- </div> -->