<main id="pageContent" class="index-page">
  <!--<img src="http://localhost:3000/images/promo/1.jpg">-->
    <div class="catalog__container" ng-repeat="category in $ctrl.data">
      <div class="catalog__header-container">
        <a href="#categories/{{category.name}}/products">
          <h2>{{category.title}}</h2>
          <!--<img class="" src="{{this.image}}">-->
        </a>
      </div>
      <div class="catalog__item-wrapper" ng-repeat="subCategory in category.catalog">
        <img class="catalog__image" src="{{subCategory.image}}">
        <a class="catalog__caption" href="#categories/{{subCategory.name}}/products">{{subCategory.title}}</a>
      </div>
    </div>
  </main>