.desktop-menu {
  &__container {
    font: $desktop-menu-font;
    padding: 20px;
    flex-grow: 2;

    display: none; //for mobile devices
    text-align: center;
  }

  &__btn {
    margin-right: 30px;
    color: $font-color;

    transition: border .15s;

    &:last-child {
      margin-right: none;
    }

    &:hover, :active {
      color: #0e778c;
      border-bottom: 3px solid #0e778c;
    }
  }

  &__sub-menu {
    //font: 12pt 'Open Sans';
    position: absolute;
    box-sizing: border-box;

    left: -100vw;
    right: 0;

    max-width: calc(100% - 40px); // close space
    width: 100%;
    height: calc(100% - 82px); // header-height

    padding-bottom: 50px;

    overflow-y: scroll;

    //text-align: center;

    background: white;

    transition: 0.3s ease-in-out left;
  }

  &__sub-header {
    font-weight: bold;
    text-transform: uppercase;
    color: #0e778c;

    &:hover, :active {
      color: #145a6c;
    }
  }

  &__sub-ul {
    display: inline-block;
    box-sizing: border-box;

    min-width: 200px;
    width: 100%;

    padding-left: 20px;

    list-style: none;

    text-align: left;
    line-height: 3;

    border-bottom: 1px solid lightgray;

    &:last-child {
      border-right: none;
      //border-bottom: none;
    }
  }

  &__sub-btn {
    padding-left: 20px;
  }

  &__sub-link {
    &:hover, :active {
      color: #0e778c;
    }
  }
}

.menu {
  &_opened {
    left: 0;
  }
}

.mobile-overlay {
  position: fixed;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 425px) {
  .desktop-menu {
    &__sub-menu {
      max-width: 375px;
    }
  }
}

// @media screen and (min-width: 768px) {
//   .desktop-menu__sub-menu {
//     position: relative;

//     left: 0;
//     //top: -100vh;

//     max-height: 0;

//     transition: 0.3s ease-in-out top;
//   }

//   .menu {
//     &_opened {
//       //top: 0;

//       max-height: 300px;
//     }
//   }
// }

@media screen and (min-width: 1024px) {
  .desktop-menu {
    &__container {
      display: block;
    }

    &__sub-menu {
      position: absolute;

      max-width: none;
      height: auto;

      left: 0;

      padding-bottom: 30px;

      opacity: 0;
      visibility: hidden;

      text-align: center;

      transition: .3s ease opacity;
    }

    &__sub-ul {
      width: auto;

      border-right: 1px solid lightgray;
      border-bottom: none;
    }
  }

  .menu {
    &_opened {
      opacity: 1;
      visibility: visible;
    }
  }

  .mobile-overlay {
    display: none;
  }
}
